default_language_version:
  python: python3
default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/provinzkraut/unasyncd
    rev: "v0.7.1"
    hooks:
      - id: unasyncd
        additional_dependencies: ["ruff"]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.3.5"
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: "docs"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: "pdm.lock|examples/us_state_lookup.json"
        additional_dependencies:
          - tomli
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.9.0"
    hooks:
      - id: mypy
        exclude: "docs"
        additional_dependencies:
          [
            aiosqlite,
            alembic,
            async_timeout,
            asyncmy,
            asyncpg,
            asyncpg_stubs,
            uuid_utils,
            oracledb,
            psycopg,
            pytest,
            pytest-asyncio,
            pytest-lazy-fixture,
            time-machine,
            httpx,
            "sanic[ext]",
            fastapi,
            pytest-mock,
            pytest-timeout,
            sqlalchemy>=2.0.12,
            msgspec,
            click,
            rich,
            "litestar[cli]",
          ]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v0.9.1"
    hooks:
      - id: sphinx-lint
